<meta charset="utf-8">
<title>Engelsiz Sınav Uygulaması</title>


<script src="/test/lib/jquery-3.4.1.min.js"></script>
<script src="/test/lib/fontsize/jquery.fontsize.js"></script>
<script src="/test/js/audio.js" type="text/javascript" charset="utf-8"></script>
<script src="/test/js/log.js" type="text/javascript" charset="utf-8"></script>
<!-- Questions -->
<!--script src="/test/js/q-ekpss.js" type="text/javascript" charset="utf-8"></script-->
<script src="/test/js/q-yks.js" type="text/javascript" charset="utf-8"></script>
<script src="/test/js/eso2-ejs.js" type="text/javascript" charset="utf-8"></script>

<!-- CSS -->
<link rel="stylesheet" href="/test/css/eso2-ejs.css">

<!-- Font Awesome -->
<script src="https://kit.fontawesome.com/73f226ee2a.js" crossorigin="anonymous"></script>
