<meta charset="UTF-8">
<title>Engelsiz Sınav Uygulaması</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">

<script src="test/lib/jquery-3.4.1.min.js"></script>
<script src="test/js/eso-ejs.js" type="text/javascript" charset="utf-8"></script>

<link href="test/css/eso-bts.css" rel="stylesheet" type="text/css">
