<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <!-- Just an image -->
  <!--<a class="navbar-brand" href="#">
    <img src="../../public/img/accessibility.svg" width="30" height="30" alt="">
  </a>-->
  <a class="navbar-brand" href="/logs">Engelsiz Sınav Uygulaması</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="/logs">Ana Sayfa</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/about">Hakkında</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/contact">İletişim</a>
    </li>
  </ul>
  <form class="form-inline">
    <button class="btn btn-outline-success" type="button" onclick="location.href='/login';">Giriş Yap</button>
  </form>
  <form class="form-inline">
    <button class="btn btn-outline-success" type="button" onclick="location.href='/signup';">Kayıt Ol</button>
  </form>
</nav>