<div class="col-sm-4">
    <div class="jumbotron sidebar-filter-grayscale">
            <div class="filter-blur sidebar">
                <h3 class="font-raleway">Görme Engelli Bireylere Yönelik Web Tabanlı Sınav Uygulaması</h3>
            </div>
    </div>
</div>
