
 .eso-empty{
  float: left;
  width:10%;
  height: 100px;
}


@media screen and (max-width: 1300px) {
  .eso-empty{
    float: left;
    width:1px;
    height: 1px;
  }
}


#themes-label{
  font-size: 35px;
}

.question-div{
  margin-bottom: 10px;
}

body.cursor16 div, body.cursor16 label, body.cursor16 span, body.cursor16 a{
  cursor: url(../img/cursor16.png) 3 8, auto !important;
}
body.cursor24 div, body.cursor24 label, body.cursor24 span, body.cursor24 a{
  cursor: url(../img/cursor24.png) 4 0, auto !important;
}
body.cursor32 div, body.cursor32 label, body.cursor32 span, body.cursor32 a{
  cursor: url(../img/cursor32.png) 6 0, auto !important;
}
body.cursor64 div, body.cursor64 label, body.cursor64 span, body.cursor64 a{
  cursor: url(../img/cursor64.png) 12 0, auto !important;
}

#eso-menu-tabs .ui-tabs-panel{

  padding-left: 0px;
  padding-right: 0px;
}


.eso-count-cont{
  float: left;
  width:300px;
  height: 150px;
  border: 1px solid #007fff;
  border-radius: 15px;
  transform: scale(0.7);
  transform-origin: top center;
  background: #e9e9e9;
  padding: 5px;
}

.eso-count-header{
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: #007fff;
}

.eso-header{
  /* display: inline-block; */
  width: 100%;
  height: 120px;
  margin-bottom: 7px;
  /* display: table; */
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}


.eso-header li{
  float: left;
}

.eso-header li > div {
  display: block;
  text-align: left;
}

span.fontsize-title{
  font-size: 33px !important;
}


#markButtonLabel{
  /* height: 22px; */
  padding: 0.5em 1em;
}
#questions-div{
  /* height: 333px; */
}

#questions-div .content{
  overflow: auto;
}

#questions-div .actions{
  position: fixed;
  bottom: 0px;
  left: 0px;
}

.wizard .steps{
  overflow-y: auto;
}

#empty-questions, #marked-questions{
  max-height: 250px;
  overflow: auto;
}

#empty-questions a, #marked-questions a{
  font-weight: bold;
  
}

.eso-options label{ 
  content: "";
  clear: both;
  display: table !important;
  text-align: left;
}

.fontsize-selector{
  margin: 5px;
  cursor: pointer;
}

#font-size-menu{
  float: left;
}


body .ui-tabs .ui-tabs-nav .ui-tabs-anchor {
	padding: 7px 10px;
}

body .ui-tabs .ui-tabs-panel {
	padding: 7px 10px;
}

body .ui-tabs {
	padding: 2px;
}
body .ui-tabs .ui-tabs-nav {
	padding: 2px 2px 0;
}


body .wizard.vertical > .content
{
    margin: 0 5px 5px 5px;
}

body input{
  width: 1em;
  height: 1em;
}

body .ui-checkboxradio-radio-label .ui-icon-background,
body .ui-icon{
  width: 1em;
  height: 1em;
}



body .ui-checkboxradio-radio-label.ui-checkboxradio-checked .ui-icon, 
body .ui-checkboxradio-radio-label.ui-checkboxradio-checked:hover .ui-icon {
  width: 1em;
  height: 1em;
}




body .ui-icon, .ui-widget-content .ui-icon{
  background-image: none;
}

body .ui-state-hover .ui-icon,
body .ui-state-focus .ui-icon,
body .ui-button:hover .ui-icon,
body .ui-button:focus .ui-icon {
  background-image: none;
}
body .ui-state-active .ui-icon,
body .ui-button:active .ui-icon {
  background-color: black;
  background-image: none;
}