.btn-footer:hover, .btn-mark:hover, div.secenek-baslik:hover, div.secenek:hover, a#nextQuestion:hover, a#prevQuestion:hover, #markDiv:hover, .question:hover, .question-number:hover,

#increaseFont:hover, #decreaseFont:hover, #increaseFont:focus, #decreaseFont:focus, select:hover, button:hover{
  border:6px inset red !important;
  border-style: inset;
}



@media (min-width: 1200px)
{
    .header-text
    {
        width: 1050px !important;
    }


    .content-koklu
    {
        width: 482px !important;
    }
}

body
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    overflow: hidden;
    height: 100%;

    font-family: 'Segoe UI';
    background-color: #F2F2F2;
}

.textSelectable
{
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}


.left
{
    float: left !important;
}

.right
{
    float: right !important;
}

.middle
{
    display: table;
    margin: 0 auto;
}

.header-text
{
    width: 960px;
}

#eso-cont, #eso-cont input, #eso-cont select{
    line-height: 32px;
    font-size: 20px;
    font-family: Verdana;
}

.page-title
{
    height: 215px;
    background-color: #333333;
    color: #FFFFFF;
    font-weight: bold;
    padding-left: 10px;
    top: 0px;
    left: 0px;
    padding-top: 5px;
}


.header
{
    height: 128px;
    background-color: #F2F2F2;
    padding: 0 0 0 64px;
    position: relative;
    text-align: center;
}

.nav-icons
{
    float: left;
    margin-top: 36px;
}


.nav-icons div img
{
    padding: 0 2px 0 0;
}

.nav-button button
{
    border: 0 none;
    background: none repeat scroll 0 0 transparent;
}
.nav-button a
{
    
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}


#soruAlaniDiv {
    padding: 0px 30px 0px 30px !important;
}


.hiddenLink
{
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    margin-bottom: -1px;

}

.btn-footer {
    cursor:pointer;
    min-width: 275px;
    border: 3px solid darkgray;
    border-style: inset;
    margin-right: 40px;
    float: left;
}


.btn-footer:active, .btn-mark:active{
    background-color: grey;
}

.btn-mark {
    height: 74px !important;
    min-width: 224px;   
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 20px;
}
.btn-mark > input {
    height: 50px;
    line-height: 50px ;
    width: 50px;
}
.btn-mark > label {
    margin-left: 23px;
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.btn-prev{
    height: 80px !important;
    background:url(/img/arrow-left-big.png) no-repeat;
    background-position: 0 5;
}

.btn-next{
    height: 80px !important;
    background:url(/img/arrow-right-big.png) no-repeat;
    background-position: 205 5;
}

.btn-finish{
    height: 80px !important;
}


.secenek
{
    display: table-cell;
    vertical-align: middle;
    /* padding-top: 10px; */
    text-align: left !important;
}

.secenek p
{
    text-align: left !important;
}

.secenek-baslik
{
    display: table-cell;
    width: 50px;
    vertical-align: middle;
}

.secenek-baslik input + label
{
    background-image: url(../img/dot-grey.png);
    background-repeat: no-repeat;
    height: 38px;
    width: 38px;
    color: white;
    font-weight: bold;
    font-size: x-large;
    text-align: center;
    line-height: 34px;
    float: left;
    margin: 4px auto;
}

.secenek-baslik input:checked + label
{
    background-image: url(../img/tick.png);
    background-repeat: no-repeat;
    height: 38px;
    width: 38px;
    color: white;
    font-weight: bold;
    font-size: x-large;
    text-align: center;
    line-height: 34px;
    float: left;
    margin: 4px auto;
}

.secenekler
{
    display: table;
    width: 100%;
    margin-top: 20px;
    font-weight: 500;
    font-family: "Segoe UI Semibold";
}
.answerBox input
{
    position: absolute;
    height: 38px;
    width: 38px;
    display: table;
    filter: alpha(opacity=0);
    opacity: 0;
    cursor: pointer;
}

.answerBox input + label>span
{
    background-image: url(../img/dot-grey.png);
    background-repeat: no-repeat;
    height: 38px;
    width: 38px;
    color: white;
    font-weight: bold;
    font-size: x-large;
    text-align: center;
    line-height: 34px;
    float: left;
    margin: 3px 5px 5px 10px;
}

.answerBox input:checked + label>span
{
    background-image: url(../img/tick.png);
    background-repeat: no-repeat;
    height: 38px;
    width: 38px;
    color: white;
    font-weight: bold;
    font-size: x-large;
    text-align: center;
    line-height: 34px;
    float: left;
    margin: 3px 5px 5px 10px;
}

.answerText
{
    margin-top: 3px;
    text-align: left;
    padding-left: 53px;
}

.answerCheck
{
    background-image: url(../img/tick-green.png);
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    float: left;
}

.Tick
{
    background-image: url(../img/tick.png);
    width: 36px;
    height: 36px;
    background-repeat: no-repeat;
    visibility: hidden;
    opacity: 0.9;
    margin-left: 10px;
    margin-top: 2px;
}

.answer-container
{
    margin: 50px 0px 0px 5px;
}

.buttonAnswer
{
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: pointer;
    height: 50px;
    width: 50px;
    float: left;
    opacity: 1;
}

.nav-button
{
    padding: 0 15px 0 0;
    font-weight: bold;
    float: left;
}
.question-number
{
    color: #888888;
    font-size: 28px;
    font-weight: bold;
    display: table;
    margin: 0 auto;
    padding: 2px 0;
}


#increaseFont,  #decreaseFont {
    padding-top: 5px;
}


#eso-cont.font_0 *{
    font-family: Verdana !important;
  }
  #eso-cont.font_1 *{
    font-family: Arial !important;
  }
  #eso-cont.font_2 *{
    font-family: 'Arial Black' !important;
  }
  #eso-cont.font_3 *{
    font-family: 'Times New Roman' !important;
  }
  #eso-cont.font_4 *{
    font-family: Helvatica !important;
  }
  #eso-cont.font_5 *{
    font-family: 'Book Antiqua' !important;
  }
  #eso-cont.font_6 *{
    font-family: Georgia !important;
  }
  #eso-cont.font_7 *{
    font-family: Tahoma !important;
  }
  #eso-cont.font_8 *{
    font-family: Platino !important;
  }
  #eso-cont.font_9 *{
    font-family: Impact !important;
  }
  #eso-cont.font_10 *{
    font-family: 'Lucida Sans Unicode' !important;
  }
  #eso-cont.font_11 *{
    font-family: 'Courier New' !important;
  }
  #eso-cont.font_12 *{
    font-family: 'Lucida Console' !important;
  }

.bottom-bar{
    position: fixed;
    bottom: 0px;
}

  .bottom-bar input,  .bottom-bar label,  .bottom-bar .btn-mark{
      color: black;
  }

  .marked-questions-div a {
      text-decoration: none !important;
  }

  a{
      color: black;
  }
  
  /* THEME 1 */
  body.theme2{
    background-color: black;
    color: azure;
  }
  .theme2 .page-title, .theme2 a{
    background-color: #111111;
    color: #FFFFFF;
  }
  .theme2 .header {
      background-color: #F2F2F2;
  }

  .theme2 .bottom-bar input, .theme2 .bottom-bar label, .theme2 .bottom-bar .btn-mark, .theme2 select, .theme2 button{
    background-color: black;
    border: 3px solid  cyan;
    color: white;
  }

  .theme2 .btn-footer {
    border: 3px solid darkgray;
  }

  .theme2 .btn-footer:active, .theme2 .btn-mark:active{
    background-color: cyan; 
  }

.theme2 .secenek-baslik input + label{
    color: black;
}

.theme2 .secenek-baslik input:checked + label{
    color: white;
}

.theme2 .answerBox input + label>span{
    color: white;
}

.theme2 .answerBox input:checked + label>span{
    color: white;
}

.theme2 .question-number{
    color: white;
}
  /* THEME 3 */
  body.theme3{
    background-color: black;
    color: yellow;
  }
  .theme3 .page-title, .theme3 a{
    background-color: #111111;
    color: yellow;
  }
  .theme3 .header {
      background-color: #F2F2F2;
  }

  .theme3 .bottom-bar input, .theme3 .bottom-bar label, .theme3 .bottom-bar .btn-mark, .theme3 select, .theme3 button{
      background-color: black;
      color: yellow;
      border: 3px solid  green;
  }

  .theme3 .btn-footer {
    border: 3px solid darkgray;
  }

  .theme3 .btn-footer:active, .theme3 .btn-mark:active{
    background-color: green; 
  }

.theme3 .secenek-baslik input + label{
    color: black;
}

.theme3 .secenek-baslik input:checked + label{
    color: white;
}

.theme3 .answerBox input + label>span{
    color: white;
}

.theme3 .answerBox input:checked + label>span{
    color: white;
}

.theme3 .question-number{
    color: white;
}
  /* THEME 4 */
  body.theme4{
    background-color: black;
    color: green;
  }
  .theme4 .page-title, .theme4 a{
    background-color: #111111;
    color: green;
  }
  .theme4 .header {
      background-color: #F2F2F2;
  }

  .theme4 .bottom-bar input, .theme4 .bottom-bar label, .theme4 .bottom-bar .btn-mark, .theme4 select, .theme4 button{
      background-color: black;
      color: green;
      border: 3px solid  blue;
  }

  .theme4 .btn-footer {
    border: 3px solid darkgray;
  }

  .theme4 .btn-footer:active, .theme4 .btn-mark:active{
    background-color: blue; 
  }

.theme4 .secenek-baslik input + label{
    color: black;
}

.theme4 .secenek-baslik input:checked + label{
    color: white;
}

.theme4 .answerBox input + label>span{
    color: white;
}

.theme4 .answerBox input:checked + label>span{
    color: white;
}

.theme4 .question-number{
    color: white;
}

#remTimeDiv{
    width: 100%;
}