.btn-footer:hover, .btn-mark:hover, div.secenek-baslik:hover, div.secenek:hover, a#nextQuestion:hover, a#prevQuestion:hover, #markDiv:hover, .question:hover, .question-number:hover,

#increaseFont:hover, #decreaseFont:hover, #increaseFont:focus, #decreaseFont:focus{
  border:6px solid red !important;
}



@media (min-width: 1200px)
{
    .header-text
    {
        width: 1050px !important;
    }


    .content-koklu
    {
        width: 482px !important;
    }
}

body
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    overflow: hidden;
    height: 100%;

    font-family: 'Segoe UI';
    background-color: #F2F2F2;
}

.textSelectable
{
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

a
{
    text-decoration: none !important;
}

.left
{
    float: left !important;
}

.right
{
    float: right !important;
}

.middle
{
    display: table;
    margin: 0 auto;
}

.header-text
{
    width: 960px;
}

.page-title
{
    height: 164px;
    background-color: #333333;
    color: #FFFFFF;
    font-weight: bold;
    /* line-height: 32px; */
    padding-left: 10px;
    top: 0px;
    left: 0px;
    padding-top: 5px;
}

.danger
{
    background-color: #C1272D !important;
}

.header
{
    height: 128px;
    background-color: #F2F2F2;
    padding: 0 0 0 64px;
    position: relative;
    text-align: center;
}

.nav-icons
{
    float: left;
    margin-top: 36px;
}


.nav-icons div span
{
    display: inline-block;
    width: 5em;
    vertical-align: middle;
    color: #807F7F;
    font-weight: bold;
}

.nav-icons div img
{
    padding: 0 2px 0 0;
}

.nav-button button
{
    border: 0 none;
    background: none repeat scroll 0 0 transparent;
}
.nav-button a
{
    
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.nav-icons div span.green
{
    color: #8CC63F;
}

.nav-icons div span.red
{
    color: #EE423B;
}

#soruAlaniDiv {
    padding: 0px 30px 0px 30px !important;
}


.hiddenLink
{
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    margin-bottom: -1px;

}


/* .bottom-bar{
    display: table;
}

.bottom-bar > div{
    display: table-cell;
} */

.btn-footer {
    cursor:pointer;
    min-width: 250px;
    border: 3px solid darkgray;
    margin-right: 40px;
    float: left;

}


.btn-footer:active, .btn-mark:active{
    background-color: grey;
}

.btn-mark {
    height: 74px !important;
    min-width: 224px;   
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 20px;
}
.btn-mark > input {
    height: 50px;
    line-height: 50px ;
    width: 50px;
}
.btn-mark > label {
    margin-left: 23px;
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.btn-prev{
    height: 80px !important;
    background:url(/img/arrow-left-big.png) no-repeat;
    background-position: 5 5;
}

.btn-next{
    height: 80px !important;
    background:url(/img/arrow-right-big.png) no-repeat;
    background-position: 175 5;
}

.btn-finish{
    height: 80px !important;
}


.secenek
{
    display: table-cell;
    vertical-align: middle;
    /* padding-top: 10px; */
    text-align: left !important;
}

.secenek p
{
    text-align: left !important;
}

.secenek-baslik
{
    display: table-cell;
    width: 50px;
    vertical-align: middle;
}

.secenek-baslik input + label
{
    background-image: url(../img/dot-grey.png);
    background-repeat: no-repeat;
    height: 38px;
    width: 38px;
    color: white;
    font-weight: bold;
    font-size: x-large;
    text-align: center;
    line-height: 34px;
    float: left;
    margin: 4px auto;
}

.secenek-baslik input:checked + label
{
    background-image: url(../img/tick.png);
    background-repeat: no-repeat;
    height: 38px;
    width: 38px;
    color: white;
    font-weight: bold;
    font-size: x-large;
    text-align: center;
    line-height: 34px;
    float: left;
    margin: 4px auto;
}

.secenekler
{
    display: table;
    width: 100%;
    margin-top: 20px;
    font-weight: 500;
    font-family: "Segoe UI Semibold";
}
.answerBox input
{
    position: absolute;
    height: 38px;
    width: 38px;
    display: table;
    filter: alpha(opacity=0);
    opacity: 0;
    cursor: pointer;
}

.answerBox input + label>span
{
    background-image: url(../img/dot-grey.png);
    background-repeat: no-repeat;
    height: 38px;
    width: 38px;
    color: white;
    font-weight: bold;
    font-size: x-large;
    text-align: center;
    line-height: 34px;
    float: left;
    margin: 3px 5px 5px 10px;
}

.answerBox input:checked + label>span
{
    background-image: url(../img/tick.png);
    background-repeat: no-repeat;
    height: 38px;
    width: 38px;
    color: white;
    font-weight: bold;
    font-size: x-large;
    text-align: center;
    line-height: 34px;
    float: left;
    margin: 3px 5px 5px 10px;
}

.answerText
{
    margin-top: 3px;
    text-align: left;
    padding-left: 53px;
}

.answerCheck
{
    background-image: url(../img/tick-green.png);
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    float: left;
}

.Tick
{
    background-image: url(../img/tick.png);
    width: 36px;
    height: 36px;
    background-repeat: no-repeat;
    visibility: hidden;
    opacity: 0.9;
    margin-left: 10px;
    margin-top: 2px;
}

.answer-container
{
    margin: 50px 0px 0px 5px;
}

.buttonAnswer
{
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: pointer;
    height: 50px;
    width: 50px;
    float: left;
    opacity: 1;
}


.nav-button
{
    padding: 0 15px 0 0;
    color: #807F7F;
    font-weight: bold;
    float: left;
}

.question-number
{
    color: #888888;
    font-size: 28px;
    font-weight: bold;
    display: table;
    margin: 0 auto;
    padding: 2px 0;
}


#increaseFont,  #decreaseFont {
    padding-top: 5px;
}