<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
<div class="row">
    <div class="col-sm-8">
        <div class="jumbotron">
            <h1>Hakkında</h1>
            <p>Bu sayfa "Görme Engellilere Yönelik Web Tabanlı Sınav Uygulamasının Tasarımı, Geliştirilmesi ve Kullanılabilirliği" başlıklı doktora tezi kapsamında hazırlanmıştır.</p>
        </div>
    </div>

    <div class="col-sm-4" style="padding-top: 100px;">
        <div class="well">
            <h3>Görme Engelliler İçin Web Tabanlı Sınav Uygulaması</h3>
        </div>
    </div>

</div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>