<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header-admin-home'); %>
</header>

<main>
<div class="row">
    <div class="col-sm-8">
        <div class="jumbotron">
            <h1>Kullanıcı Ekle</h1>
            <form action="/admin/sign-up" method="POST">
                <div class="form-group">
                    <label for="inputName">Ad</label>
                    <input type="text" class="form-control" id="inputName" name="name" aria-describedby="nameHelp" placeholder="Adınızı yazın..." required>
                </div>
                <div class="form-group">
                    <label for="inputSurname">Soyad</label>
                    <input type="text" class="form-control" id="inputSurname" name="surname" aria-describedby="surnameHelp" placeholder="Soyadınızı yazın..." required>
                </div>
                <div class="form-group">
                    <label for="inputEmail">E-posta</label>
                    <input type="email" class="form-control" id="inputEmail" name="email" aria-describedby="emailHelp" placeholder="E-postanızı girin..." required>
                    <small id="emailHelp" class="form-text text-muted">E-posta adresiniz kimseyle paylaşılmayacaktır.</small>
                </div>
                <div class="form-group">
                    <label for="inputPassword">Parola</label>
                    <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Parolanızı girin..." required>
                </div>
                <button type="submit" class="btn btn-primary">Gönder</button>
            </form>
        </div>
    </div>

    <div class="col-sm-4" style="padding-top: 100px">
        <div class="well">
            <h3>Görme Engelli Bireylere Yönelik Web Tabanlı sınav Uygulaması</h3>
        </div>
    </div>

</div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>
