<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header-user-login'); %>
</header>

<main>
<div class="row">
    <div class="col-sm-8">
        <div class="jumbotron">
            <h1 class="display-4 font-raleway">İletişim</h1>
            <a class="lead font-raleway" href="tel:05448914250">+90 (544) 891 42 50</a>
			<br aria-hidden="true">
			<email class="lead font-raleway">mdogusm@gmail.com</email>
            <br aria-hidden="true">
            <email class="lead font-raleway">mustafadogusm@gazi.edu.tr</email>
        </div>
    </div>

    <%- include('../partials/sidebar'); %>

</div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>
