<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header-user-home'); %>
</header>

<main>
<div class="row">
    <div class="col-sm-8">
        <div class="jumbotron">
            <h1 class="display-4 font-raleway">Hakkında</h1>
            <p class="lead font-raleway">Bu uygulama "Görme Engellilere Yönelik Web Tabanlı Sınav Uygulamasının Tasarımı, Geliştirilmesi ve Kullanılabilirliği" başlıklı doktora tezi kapsamında hazırlanmıştır.</p>
        </div>
    </div>

    <%- include('../partials/sidebar'); %>

</div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>
