<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>

<header class="container-fluid" style="padding: 0;">
    <%- include('../partials/header-user-home'); %>
</header>

<main class="container-fluid">
<div class="row">
    <div class="col-sm-8">
        <div class="jumbotron">
            <h1 class="display-4 font-raleway" style="font-weight:bold;">Kullanım Kılavuzu</h1>
            <h5 class="font-raleway" style="font-weight:bold;">Sınava başlamadan önce;</h5>
			<ul>
				<li>
					<p class="lead font-raleway">Sisteme kayıtlı e-posta adresi ve parola ile giriş yapınız.</p>
				</li>
				<li>
					<p class="lead font-raleway">Kişisel Bilgi Formu'nu doldurunuz.</p>
				</li>
				<li>
					<p class="lead font-raleway">Kullanım Kılavuzu'nu yeniden gözden geçiriniz.</p>
				</li>
				<li>
					<p class="lead font-raleway">Ana Sayfa'da Sınava Başla düğmesine basınız. Erişilebilirlik Ayarları diyalog penceresi açılacaktır. Açılan pencerede sınav esnasında kullanmak istediğiniz tema rengi, yazı tipi ve yazı boyutunu seçiniz.</p>
				</li>
				<li>
					<p class="lead font-raleway">Erişilebilirlik Ayarları penceresinde Sınava Başla düğmesine basarak sınava başlayınız.</p>
				</li>
			</ul>
			<h5 class="font-raleway" style="font-weight:bold;">Sınav Sayfası</h5>
			<ul>
				<li>
					<p class="lead font-raleway"><span class="font-weight-bold">Erişilebilirlik düğmesi:</span> Tema rengi, yazı tipi ve yazı boyutunun değiştirilebileceği Erişilebilirlik Ayarları sayfasına yönlendirir.</p>
				</li>
				<li>
					<p class="lead font-raleway"><span class="font-weight-bold">Soru Özeti:</span> Ekran okuyucu kullanıcıları için işaretlenen seçenek ve Tekrar Bakılacak düğmesinin işaretlenip işaretlenmediğine ilişkin bilgi yer almaktadır.</p>
				</li>
				<li>
					<p class="lead font-raleway"><span class="font-weight-bold">Önceki ve Sonraki düğmeleri:</span> Sorular arasında geçiş yapmayı sağlar.</p>
				</li>
				<li>
					<p class="lead font-raleway"><span class="font-weight-bold">Tekrar Bak düğmesi:</span> "Evet" olarak işaretlenen soruları daha sonra tekrar incelemeyi sağlar.</p>
				</li>
				<li>
					<p class="lead font-raleway"><span class="font-weight-bold">Soruyu Dinle ve Seçenekleri Dinle düğmesi:</span> İnsan sesiyle seslendirilmiş soru metni ve seçenekleri dinlemeyi sağlar.</p>
				</li>
				<li>
					<p class="lead font-raleway"><span class="font-weight-bold">Gözden Geçir düğmesi:</span> Tekrar Bakılacak Sorular ve Cevaplanmayan Sorular'ın yer aldığı Gözden Geçir sayfasına yönlendirir. Tekrar Bak düğmesiyle işaretlenen sorular Tekrar Bakılacak Sorular başlığının, cevaplanmayan sorular ise Cevaplanmayan Sorular başlığının altında listelenmektedir.</p>
				</li>
				<li>
					<p class="lead font-raleway"><span class="font-weight-bold">Sınavı Bitir düğmesi:</span> Sınavı tamamlamaktadır. Düğmeye basıldığında ekranda "Sınavı bitirmek istediğinizden emin misiniz?" uyarısı görüntülenecektir. Açılan pencerede "Evet" düğmesine basıldığında sınav tamamlanacaktır.</p>
				</li>
			</ul>
			<h5 class="font-raleway" style="font-weight:bold;">Uygulamaya Özgü Klavye Kısayol Tuşları</h5>
			<ul>
				<li>
					<p class="lead font-raleway"><span class="font-weight-bold font-italic">Alt + E:</span> Erişilebilirlik Ayarları sayfasını görüntüler.</p>
				</li>
				<li>
					<p class="lead font-raleway"><span class="font-weight-bold font-italic">Alt + G:</span> Gözden Geçir sayfasını görüntüler.</p>
				</li>
				<li>
					<p class="lead font-raleway"><span class="font-weight-bold font-italic">Alt + K:</span> Ekran okuyucu kullanıcıları için kalan süreyi seslendirir.</p>
				</li>
				<li>
					<p class="lead font-raleway"><span class="font-weight-bold font-italic">Alt + S:</span> Ekran okuyucu kullanıcıları için soru özetini seslendirir.</p>
				</li>
			</ul>
			<h5 class="font-raleway" style="font-weight:bold;">Ekran Okuyucu Kullanıcıları İçin Önemli Bilgiler</h5>
			<ul>
				<li>
					<p class="lead font-raleway"><span class="font-weight-bold font-italic">Düğmeler (butonlar):</span> Soruyu Dinle, Seçenekleri Dinle, Erişilebilirlik Ayarları, Gözden Geçir, Sınavı Bitir</p>
					<p class="lead font-raleway">Düğmelere JAWS, NVDA ve VoiceOver'da B kısayol tuşuyla erişim sağlanabilmektedir.</p>
				</li>
				<li>
					<p class="lead font-raleway"><span class="font-weight-bold font-italic">Onay Kutusu:</span> Tekrar Bak düğmesi</p>
					<p class="lead font-raleway">Onay kutularına JAWS'ta ve NVDA'da X, VoiceOver'da ise C kısayol tuşuyla erişim sağlanabilmektedir.</p>
				</li>
				<li>
					<p class="lead font-raleway"><span class="font-weight-bold font-italic">Başlıklar:</span> Kalan Süre, Soru Özeti</p>
					<p class="lead font-raleway">Başlıklara JAWS, NVDA ve VoiceOver'da H kısayol tuşuyla erişim sağlanabilmektedir. (Not: Başlıklar ikinci düzey olarak etiketlendiğinden 2 kısayol tuşuyla da erişim sağlanabilmektedir.)</p>
				</li>
				<li>
					<p class="lead font-raleway"><span class="font-weight-bold font-italic">Radyo (Seçim ) Düğmeleri:</span> A, B, C, D ve E seçenekleri</p>
					<p class="lead font-raleway">Radyo düğmelerine JAWS'ta A, NVDA'da R ve VoiceOver'da J kısayol tuşuyla erişim sağlanabilmektedir.</p>
				</li>
			</ul>
        </div>
    </div>

    <%- include('../partials/sidebar'); %>

</div>
</main>

<footer class="container-fluid fixed-bottom">
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>
